.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 70px;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  font-family: Philosopher, sans-serif;
}

main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.input-area {
  flex-direction: row;
}

main {
  display: flex;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);  
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input , #input-name , #input-lastname , #input-email , #house {
  height: 30px;
  border-radius: 5px;
  border: 0;
  margin: 0 5px;
}

.trybewarts-login button , #submit-btn {
  height: 30px;
  border-radius: 5px;
  border: 0;
  margin: 0 5px;
  padding: 0 50px;
  background-color: darkslateblue;
  color: white;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  color: white;
}

#title-form {
  display: flex;
  justify-content: center;
  margin: 30px;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

#input-name , #input-lastname , #input-email , #house {
  width: 45%;
  margin: 10px 5px;
}

#house {
  background-color: white;
}

.choose-family {
  display: flex;
  padding-top: 20px;
  align-items: center;
}

#your-family {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#content {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.check-content {
  width: 30%;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 20px 0;
}

#container-two {
  display: flex;
}

#container-three {
  display: flex;
  flex-direction: column;
}

#avaliator {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(95, 99, 134);
  color: white;
  text-align: center;
  padding: 10px;
}

#label-agreement {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-around;
}

.isHidden {
  visibility: hidden;
}

#counter {
  opacity: 60%;
  margin-bottom: 5px;
}
