.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 70px;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
}


main #evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  flex-wrap: wrap;
}

main #evaluation-form #input-email {
  flex-direction: column; 
}

main {
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

#input-name, #input-lastname, #input-email{
  width: 45%;
  height: 16px;
}

#house {
  width: 45.5%;
  height: 20px;
}


.choose-family {
  display: flex;
}

#your-family {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}
