.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 70px;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
}

#evaluation-form {
  width: 675px;
}

main #evaluation-form {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
}
